<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5p: %c - %m%n</pattern>
		</encoder>
	</appender>

<!-- 	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
<!-- 		<file>${user.home}/searcher9.log</file> -->
<!-- 		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
<!-- 			<fileNamePattern>searcher9.%d{yyyy-MM-dd}.log</fileNamePattern> -->
<!-- 			<maxHistory>30</maxHistory> -->
<!-- 		</rollingPolicy> -->
<!-- 		<encoder> -->
<!-- 			<pattern>%-5p: %c - %m%n</pattern> -->
<!-- 		</encoder> -->
<!-- 	</appender> -->

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
<!-- 		<appender-ref ref="FILE"/> -->
	</root>

</configuration>